#main-container{
    display: flex;
}

#filter{
    padding: 20px;
    border-right: 1px grey solid;
}

.product{
    width: 500px;
    /* height : 80%; */
    padding: 10%;
    margin-left: 2rem;
    border: 1px grey solid;
}
.product h2 h3 {
    padding: none;
    margin: 0;
}